html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    overflow:auto;
    overflow-y: scroll;
}

body {
    background:#fff;
    color:rgba(0,0,0,1);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:62.5%;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

h1 {
    font-size:10em;
    margin:0 0 .5em 0;
    line-height: 1;
    color: #000000;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size:3em;
    margin:0 0 .5em 0;
    line-height: 1.8;
    letter-spacing:.05em;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size:1.5em;
    margin:0 0 0 0;
    letter-spacing:.05em;
}

h1, h2, h3 {
    
}

h1 i, h2 i, h3 i {
    float:left;
    margin:-2px .5em 0 -1.8em;
}

.content p, .inner p {
    line-height: 1.8;
    max-width:28em;
    font-size:2em;
}

.content p {
    margin:0 0 1.5em 0;
}

ol {
    list-style-type:decimal;
    margin:0;
    font-size:2em;
}

ol p {
    display: none;
}

li {
    line-height: 1.5;
}

a {
    color:#d33682;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color:#000;
}

a:visited {
    color:#657B83;
}

li a {
    padding:.3em 0;
    display: block;
}

a span {
    color:rgba(0,0,0,0.3);
    padding:0 0 0 .5em;
    float: right;
}

a:hover span {
    color:#000;
}

strong {
    display: block;
    float: left;
    margin:.3em .5em 0 0;
    padding:.3em .5em;
    line-height: 1;
    font-size:.7em;
    text-transform: uppercase;
    background: #BBE5F9;
    border-left:.5em solid #3387c4;
    color:#3387c4;
}

#sticky-navigation-wrapper {
    width:100%;
    height:50px;
}

#sticky-navigation {
    width:100%;
    height:50px;
    background:url(trans-black-60.png);
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

#sticky-navigation ul {
    list-style:none;
    margin:0;
    margin-left: 9em;
    padding:5px;
}

#sticky-navigation ul li {
    margin:0;
    padding:0;
    display:inline;
}

#sticky-navigation ul li a {
    display:block;
    float:left;
    margin:0 0 0 5px;
    padding:0 20px;
    height:40px;
    line-height:40px;
    font-size:14px;
    font-family:Arial, serif;
    font-weight:bold;
    color:#ddd;
    background:#333;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#sticky-navigation ul li a:hover, #sticky-navigation ul li a.selected {
    color:#fff;
    background:#111;
}

section {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position: relative;
    background-position: top right;
    background-repeat: no-repeat;
    padding:7em 10em 10em 15em;
    z-index:-1;
}

section.init {
    height: 100%;
}

section .inner {
    margin-left:-6em;
    padding: 1em;
    color: #000000;
    position: absolute;
}

section .content {
    max-width: 105em;
    margin:0 auto;
}

section.main {
    background-image:url("../images/krakow.jpg");
    background-color: #ffffff;
    color:#fff;
}

section.light {
    background-color: #ffffff;
    padding-bottom:10em;
    color:#000;
}

section.light a {
    color:#297fa8;
}

section.light a:hover {
    color:#000;
}

section.light p {
    max-width: 40em;
}

section.dark {
    background: rgb(224, 224, 224);
}

#profile-picture {
    float: left;
    margin-top: 1.7em;
    margin-right: 3em;
}

img.twitter {
    background-color: #39A9E0;
}

img.linkedin {
    background-color: #007FB1;
}

img.github {
    background-color: #4183c4;
}

img.stackoverflow {
    background-color: #f47920;
}

.job {
    width: 100%;
    height: 25%;
}

.job img {
    float: left;
    margin-top: 1em;
    border-bottom: solid 1px #000000;
}

.job p {
    margin:0 0 1.5em 0;
    line-height: 1.8;
    font-size:2em;
    padding-left: 315px;
}

.job {
    border-top: solid 1px #CFCFCF;
}

#projects {
    margin: auto;
    max-width: 105em
}

.project {
    float: left;
    margin-right: 3em;
    line-height: 1.8;
    max-width:14em;
    font-size:1.5em;
}

/* --------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    section#home { background-image:url("../images/krakow.jpg"); }

}

/* --------------------------------------- */

@media all and (min-width: 110em) {
    section .inner { background-color: rgba(255, 255, 255, 0.5); }
}

@media all and (max-width: 85em) {
    body { font-size:9px; }
}

@media all and (max-width: 80em) {
    section.light { padding:10em 15em; }
}

@media all and (max-width: 75em) {
    body { font-size:8px; }
    section.init { height: auto; }
    section.inner { position: static; }
}

@media all and (max-width: 65em) {
    body { font-size:7px; }
    #plandroid { display:none; }
}

@media all and (max-width: 55em) {
    li a span { display: none; }
    #profile-picture { display: none; }
}

@media all and (max-width: 50em) {
    section, section.light, section.dark { padding:6em; }
    i { display: none !important; }
    .job img { display: none; }
    .job p { padding-left: 0; }
    .project { max-width: none; margin-bottom: 2em; }
}

@media all and (max-width: 40em) {
    h1 { font-size:7em; }
    br { display: none; }
    #sticky-navigation-wrapper { display:none; }
    .inner { background-color:rgba(255,255,255,0.5); }
}